<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOVA-02</title>
    <link rel="stylesheet" href="/ui/static/css/index.css">
</head>
<body style="background-color: white;">
    <h1>Hola Mundo</h1>
    <main class="main-container">
        <div class="messages-container" id="messages">
            
        </div>
        <div class="input-container">
            <input type="text" id="input_str">
            <button onclick="send_input()">Enviar</button>
        </div>
    </main>
    <p id="event">Event</p>
    <div class="chat"></div>
    <script src="../static/js/index.js"></script>
</body>
</html>