<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOVA-02</title>
</head>
<body style="background-color: white;">
    <h1>Hola Mundo</h1>
    <p id="event">Event</p>
    <input type="text" id="input_str">
    <button onclick="send_input()">Enviar</button>
    <script>
        function receive_event(event) {
            document.getElementById("event").textContent = "Evento recibido: " + event
        }

        function saludar() {
            pywebview.api.saludar("Pau")
        }

        window.addEventListener("pywebviewready", function() {
            saludar();
        });

        function send_input() {
            var input_str = document.getElementById("input_str").value 
            pywebview.api.put_input(input_str)
            document.getElementById("input_str").value = ""
        }
    </script>
</body>
</html>